.all-trails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

.trail-list {
  list-style: none;
  padding: 0;
}

.trail-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.trail-item h3 {
  margin-top: 0;
}

.trail-item p {
  margin: 0;
}
